.unpublished {
  background-color: rgb(239, 225, 119);
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.authorAndDate {
  text-align: right;
}

.markdown :global a.anchor {
  background-image: none;
}

.markdown :global p {
  margin-bottom: 0.8rem;
  text-align: justify;
}

.markdown :global ul {
  margin-bottom: 0.8rem;
}

.markdown :global li {
  margin-bottom: 0rem;
}

.markdown :global ul p {
  margin-bottom: 0rem;
}

.markdown :global ul ul {
  margin-top: 0rem;
}

.toc {
  display: flex;
  flex-direction: row-reverse;
}

/* hide level 2 entries in toc */
.toc :global ul > li > ul {
  display: none;
}
