.markdown :global a.anchor {
  background-image: none;
}

.markdown :global p {
  margin-bottom: 0.8rem;
  text-align: justify;
}

.markdown :global ul {
  margin-bottom: 0.8rem;
}

.markdown :global li {
  margin-bottom: 0rem;
}
