.header {
  background-color: rgb(252, 164, 227);
  margin-bottom: 1.45rem;
}

@media (max-width: 400px) {
  .header {
    margin-bottom: 0.5rem;
  }
}

.headerBand {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

@media (max-width: 400px) {
  .headerBand {
    padding: 1rem 0.8rem;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.header_linkToWelcome {
  margin: 0;
}

.linkToWelcome {
  color: black;
  text-decoration: none;
}

.searchInput {
  -webkit-appearance: none;
  border-width: 0px;
  border-style: none;
  border-color: none;
  border-image: none;
  border-radius: 2px;
  padding: 0.25rem 0.75rem 0.25rem 2rem;
  overflow: hidden;
  background-color: rgb(246, 237, 250);
  color: rgb(133, 61, 206);
  width: 7.5rem;
  outline: 0px;
  position: relative;
  vertical-align: top;
}

@media (max-width: 400px) {
  .searchIcon {
    display: none;
  }

  .searchInput {
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    width: 6rem;
  }
}

@media (min-width: 401px) {
  .searchIcon {
    fill: rgb(140, 101, 179);
    position: relative;
    right: -30px;
    top: 45%;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    transform: translateY(-55%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    z-index: 10;
  }
}
